In [41]:
import datetime

In [44]:
print(dir(datetime))

['MAXYEAR', 'MINYEAR', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'date', 'datetime', 'datetime_CAPI', 'sys', 'time', 'timedelta', 'timezone', 'tzinfo']

# datetime.date

In [46]:
datetime.date(2021,3,27)        # Input is necessary to work

datetime.date(2021, 3, 27)

In [48]:
datetime.date(2021,3,27).ctime()         # Style string datetime.date.ctime()

'Sat Mar 27 00:00:00 2021'

In [92]:
datetime.date(2021,3,27).weekday()       # type:  method_descriptor Saturday = 5, Sunday = 6, Monday =0

5

In [73]:
datetime.date(2021,3,27).day         # type : getset descriptor   String : <attribute 'day' of 'datetime.date' objects>

27

In [72]:
datetime.date(2021,3,27).month      # type : getset descriptor    String : <attribute 'day' of 'datetime.date' objects>

3

In [79]:
datetime.date(2021,3,27).year       # type : getset descriptor    String : <attribute 'day' of 'datetime.date' objects>

2021

In [55]:
datetime.date.fromtimestamp(time.time())

datetime.date(2021, 3, 27)

In [61]:
MAXYEAR = datetime.MAXYEAR

In [70]:
datetime.date(2021,3,27).max                            # type : date # gives the same output even without date

datetime.date(9999, 12, 31)

In [71]:
datetime.date(2021,3,27).min                            # type : date # gives the same output even without date

datetime.date(1, 1, 1)

In [75]:
datetime.date(2021,3,27).replace(year=1988)    # type : method_descriptor      Docstring: Return date with new specified fields

datetime.date(1988, 3, 27)

In [140]:
datetime.date(2021,3,27).resolution         # The smallest possible difference between non equal date objects.  Usedon'tknow
                                            # Of the given year, month and day the smallest possible time is day.
                                            # type : timedelta

datetime.timedelta(days=1)

In [83]:
datetime.date(2021,3,27).strftime("%Y")                       # type : method_descriptor         # Style string
#datetime.date(2021,3,27).strftime("%m")                      # In the same way
#datetime.date(2021,3,27).strftime("%d")                       # In the same way

'2021'

In [86]:
datetime.date(2021,3,27).timetuple()  # type : method_descriptor #Docstring: Return time tuple, compatible with time.localtime()

time.struct_time(tm_year=2021, tm_mon=3, tm_mday=27, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=5, tm_yday=86, tm_isdst=-1)

In [87]:
datetime.date.today()                        # Type:  builtin_function_or_method

datetime.date(2021, 3, 27)

In [37]:
str(datetime.timedelta(seconds=86399))   #$ Takes seconds and gives it in hours hours minutes and seconds

'23:59:59'

In [38]:
str(datetime.timedelta(seconds=86401))    #$ Takes seconds and gives it in days hours minutes and seconds

'1 day, 0:00:01'

In [39]:
str(datetime.timedelta(seconds=start))    #$ Takes seconds and gives it in days hours minutes and seconds

'18713 days, 5:53:14.423895'

# datetime.datetime

In [99]:
datetime.datetime(2021,3,27,15,53,24).astimezone()               # type : method_descriptor

datetime.datetime(2021, 3, 27, 15, 53, 24, tzinfo=datetime.timezone(datetime.timedelta(seconds=19800), 'India Standard Time'))

In [103]:
from datetime import date, time
d = date(2004, 7, 14)
t = time(12, 30)
datetime.datetime.combine(d, t)  # builtin_function_or_method

datetime.datetime(2004, 7, 14, 12, 30)

In [105]:
datetime.datetime(2004, 7, 14, 12, 30).ctime()      # type : method_descriptor    # Style string datetime.date.ctime()

'Wed Jul 14 12:30:00 2004'

In [107]:
datetime.datetime(2004, 7, 14, 12, 30).date()       # type : method_descriptor

datetime.date(2004, 7, 14)

In [110]:
datetime.datetime(2004, 7, 14, 12, 30).day  #type:getset descriptor #String form:<attribute 'day' of 'datetime.date' objects>

14

In [115]:
datetime.datetime(2004, 7, 14, 12, 30).fold  # Something related to daylight saving

0

In [122]:
datetime.datetime(2004, 7, 14, 12, 30).hour #type:getset descriptor #String form:<attribute 'hour' of 'datetime.datetime' objects>

12

In [117]:
datetime.datetime.max

datetime.datetime(9999, 12, 31, 23, 59, 59, 999999)

In [118]:
datetime.datetime.min

datetime.datetime(1, 1, 1, 0, 0)

In [123]:
datetime.datetime(2004, 7, 14, 12, 30, 24, 72).microsecond #type:getset descriptor #<attribute 'microsecond' of 'datetime.datetime' objects>

72

In [126]:
datetime.datetime(2004, 7, 14, 12, 30, 24, 72).minute #type:getset descriptor #<attribute 'minute' of 'datetime.datetime' objects>

30

In [127]:
datetime.datetime(2004, 7, 14, 12, 30, 24, 72).second #type:getset descriptor #<attribute 'second' of 'datetime.datetime' objects>

24

In [132]:
datetime.datetime(2004, 7, 14, 12, 30, 24, 72).month #type:getset descriptor #<attribute 'month' of 'datetime.date' objects>

7

In [133]:
datetime.datetime(2004, 7, 14, 12, 30, 24, 72).year #type:getset descriptor #<attribute 'month' of 'datetime.date' objects>

2004

In [134]:
datetime.datetime.now() # Signature: datetime.datetime.now(tz=None) # Docstring: Returns new datetime object representing current time local to tz.

datetime.datetime(2021, 3, 27, 16, 19, 14, 73470)

In [136]:
datetime.datetime(2004, 7, 14, 12, 30, 24, 72).replace(hour=16,minute=19,second=14) # type : method descriptor

datetime.datetime(2004, 7, 14, 16, 19, 14, 72)

In [139]:
datetime.datetime(2004, 7, 14, 12, 30, 24, 72).resolution # type : timedelta

datetime.timedelta(microseconds=1)

In [141]:
datetime.datetime(2004, 7, 14, 12, 30, 24, 72).strftime("%Y")      # type : method_descriptor         # Style string
                                            #datetime.date(2021,3,27).strftime("%m")                      # In the same way
                                            #datetime.date(2021,3,27).strftime("%d")                       # In the same way

'2004'

In [142]:
datetime.datetime(2004, 7, 14, 12, 30, 24, 72).strftime("%A %B")   # type : method_descriptor

'Wednesday July'

In [143]:
datetime.datetime(2004, 7, 14, 12, 30, 24, 72).strftime("%I:%M%p") # type : method_descriptor

'12:30PM'

In [144]:
dt = datetime.datetime.strptime("21/11/06 16:30", "%d/%m/%y %H:%M")   # Type:      builtin_function_or_method
dt

datetime.datetime(2006, 11, 21, 16, 30)

In [152]:
datetime.datetime(2021, 3, 27, 16, 19, 14, 73470).time()

datetime.time(16, 19, 14, 73470)

In [155]:
datetime.datetime(2021, 3, 27, 16, 19, 14, 73470).time().isoformat() #.isoformat is good for time but not date and time combined

'16:19:14.073470'

In [187]:
datetime.datetime(2021, 3, 27, 16, 19, 14, 73470).timestamp()   # giving seconds from 51.26... years to now
                                                                # type : method_descriptor
                                                                # Docstring: Return POSIX timestamp as float.

1616842154.07347

In [165]:
str(datetime.timedelta(seconds=1616842154.07347))

'18713 days, 10:49:14.073470'

In [166]:
18713/365

51.26849315068493

In [167]:
datetime.datetime(2021, 3, 27, 16, 19, 14, 73470).timetuple() # Type:method_descriptor
                                                    # Docstring: Return time tuple, compatible with time.localtime().

time.struct_time(tm_year=2021, tm_mon=3, tm_mday=27, tm_hour=16, tm_min=19, tm_sec=14, tm_wday=5, tm_yday=86, tm_isdst=-1)

In [172]:
datetime.datetime.today()                       #  Type :  builtin_function_or_method

datetime.datetime(2021, 3, 27, 16, 50, 33, 860575)

In [176]:
datetime.datetime(2021, 3, 27, 16, 50, 33, 860575).tzinfo # Type : getset_descriptor No tz info is provided in input

In [181]:
datetime.datetime(2021, 3, 27, 16, 50, 33, 860575).tzname() # Type : method descriptor No tz info is provided in input

In [185]:
datetime.datetime.utcfromtimestamp(1616842154.07347) # Type: builtin_function_or_method
                                                     # Docstring: Construct a naive UTC datetime from a POSIX timestamp

datetime.datetime(2021, 3, 27, 10, 49, 14, 73470)

In [186]:
datetime.datetime.utcfromtimestamp(1616842154.07347).strftime('%Y-%m-%d %H:%M:%S')

'2021-03-27 10:49:14'

In [189]:
datetime.datetime.utcfromtimestamp(1616842154.07347).isoformat()   # Don't know what is that T after date

'2021-03-27T10:49:14.073470'

In [196]:
print(datetime.datetime.utcnow().strftime("%Y-%m-%d %H:%M:%S"))  # Type:builtin_function_or_method
print(datetime.datetime.utcnow().isoformat())

2021-03-27 11:33:24
2021-03-27T11:33:24.133724

datetime.datetime.utcoffset()                # Needs tzinfo

In [199]:
datetime.datetime.now().strftime("%Y-%m-%d %H:%M:%S")

'2021-03-27 17:08:02'

In [203]:
datetime.datetime(2021, 3, 27, 10, 49, 14, 73470).utctimetuple()    # mind it is utc timetuple, there is other timetuple also

time.struct_time(tm_year=2021, tm_mon=3, tm_mday=27, tm_hour=10, tm_min=49, tm_sec=14, tm_wday=5, tm_yday=86, tm_isdst=0)

In [207]:
datetime.datetime(2021, 3, 27, 10, 49, 14, 73470).weekday()  # Type: method_descriptor # this exists for datetime.date too.

5

datetime.time()  =  same as datetime.datetime.time()   with tzinfo

In [221]:
datetime.timedelta(2021, 3, 27, 10, 49, 14, 73470).days

516311

In [229]:
datetime.timedelta(seconds=44609323743.010025).days  # 44609323743.010025 seconds make 516311 days

516311

In [263]:
datetime.timedelta(2021, 3, 27, 10, 49, 14, 73470).total_seconds()       # type : method_descriptor

44609323743.010025

In [249]:
datetime.timedelta(2021, 3, 27, 10, 49, 14, 73470).seconds # Docstring: Number of seconds (>= 0 and less than 1 day).

53343

In [254]:
datetime.timedelta(2021, 3, 27, 10, 53, 14, 73470).microseconds # Docstring:Number of microseconds (>= 0 and less than 1 second)

10027

In [225]:
datetime.timedelta(2021, 3, 27, 10, 49, 14, 73470).resolution() # The smallest ......    # type : timedelta

datetime.timedelta(microseconds=1)

In [222]:
datetime.timedelta(2021, 3, 27, 10, 49, 14, 73470).max                # type : timedelta

datetime.timedelta(days=999999999, seconds=86399, microseconds=999999)

In [224]:
datetime.timedelta(2021, 3, 27, 10, 49, 14, 73470).min()              # type : timedelta

datetime.timedelta(days=-999999999)

# datetime.timezone   and    datetime.tzinfo   and    datetime.sys din't provide information. May be they are not that useful.

In [301]:
import time
print(dir(time))

['_STRUCT_TM_ITEMS', '__doc__', '__loader__', '__name__', '__package__', '__spec__', 'altzone', 'asctime', 'ctime', 'daylight', 'get_clock_info', 'gmtime', 'localtime', 'mktime', 'monotonic', 'monotonic_ns', 'perf_counter', 'perf_counter_ns', 'process_time', 'process_time_ns', 'sleep', 'strftime', 'strptime', 'struct_time', 'thread_time', 'thread_time_ns', 'time', 'time_ns', 'timezone', 'tzname']

In [304]:
time.altzone()

-23400

In [305]:
time.asctime()           #$ Don't know the correct usage but without any arguments gives weekday month date time and year.

'Sat Mar 27 18:19:13 2021'

In [326]:
time.ctime()            #$ Don't know the correct usage but without any arguments gives weekday month date time and year.

'Sat Mar 27 18:26:53 2021'

In [327]:
time.ctime(1)         # This particular libraries first second happened at January 1st Early morning 5:30 AM  on year 1970.

'Thu Jan  1 05:30:01 1970'

In [335]:
time.gmtime()        # Green Meridian Time (GMT) or Coordination of Universal Time (UTC)

time.struct_time(tm_year=2021, tm_mon=3, tm_mday=27, tm_hour=13, tm_min=33, tm_sec=24, tm_wday=5, tm_yday=86, tm_isdst=0)

In [339]:
time.localtime()

time.struct_time(tm_year=2021, tm_mon=3, tm_mday=27, tm_hour=19, tm_min=6, tm_sec=9, tm_wday=5, tm_yday=86, tm_isdst=0)

In [344]:
datetime.timedelta(days = 25).total_seconds()

2160000.0

In [345]:
time.localtime(2160000)   # 25 days have completed from 1970 1st Jan 5:30.

time.struct_time(tm_year=1970, tm_mon=1, tm_mday=26, tm_hour=5, tm_min=30, tm_sec=0, tm_wday=0, tm_yday=26, tm_isdst=0)

timple tuple means this (tm_year=1970, tm_mon=1, tm_mday=26, tm_hour=5, tm_min=30, tm_sec=0, tm_wday=0, tm_yday=26, tm_isdst=0)

In [348]:
time.mktime((1970,1, 26, 5, 30, 0, 0, 26, 0))        # time tuple supplied, got no.of seconds from Epoch to time tuple supplied.

2160000.0

In [407]:
time.monotonic()              # Seconds   # Don't know its use though it shows some values

311454.5

In [413]:
datetime.timedelta(seconds=311454.5)                 # This clock is working since 3 days

datetime.timedelta(days=3, seconds=52254, microseconds=500000)

In [408]:
time.monotonic_ns()           # Nano seconds

311494000000000

In [411]:
datetime.timedelta(seconds=(311494000000000)*(10)**-9)            # This clock is working since 3 days.

datetime.timedelta(days=3, seconds=52294)

In [414]:
time.perf_counter()

31617.4078301

In [423]:
str(datetime.timedelta(seconds=31617.4078301))

'8:46:57.407830'

In [416]:
time.perf_counter_ns()                  # Return the value (in fractional seconds) of a performance counter, i.e. a clock 
                                        # with the highest available resolution to measure a short duration. It does include 
                                        # time elapsed during sleep and is system-wide. The reference point of the returned 
                                        # value is undefined, so that only the difference between the results of two calls is 
                                        # valid.

31881595510200

In [417]:
datetime.timedelta(seconds=(31881595510200)*(10)**-9)

datetime.timedelta(seconds=31881, microseconds=595510)

In [429]:
time.process_time()      # sum of the kernel and user-space CPU time.

38.21875

In [430]:
str(datetime.timedelta(seconds=time.process_time()))

'0:00:38.218750'

In [431]:
time.process_time_ns()   # sum of the kernel and user-space CPU time.

38281250000

In [433]:
str(datetime.timedelta(seconds=(time.process_time_ns()*(10)**-9)))

'0:00:38.281250'

time.sleep()   # Usage not known

In [437]:
time.strftime('%Y-%m-%d %H:%M:%S')

'2021-03-27 20:24:20'

In [446]:
time.strftime((1970,1, 26, 5, 30, 0, 0, 26, 0))

TypeError: strftime() argument 1 must be str, not tuple

In [442]:
time.strptime('2021-03-27 20:24:20','%Y-%m-%d %H:%M:%S')

time.struct_time(tm_year=2021, tm_mon=3, tm_mday=27, tm_hour=20, tm_min=24, tm_sec=20, tm_wday=5, tm_yday=86, tm_isdst=-1)

As per the python documentation time.strftime and time.struct_time need to take 9 argument format, but are not taking.

In [456]:
time.thread_time()          # some kind of system+cpu times as discussed above. Need to revisit. But maynotbe significant now.

33.375

In [457]:
time.thread_time_ns()       # ns means nanoseconds. without ns is seconds.

33468750000

In [458]:
time.time()          # No.of seconds since the Epoch

1616857784.8116784

In [459]:
str(datetime.timedelta(seconds=1616857784.8116784)) #18713 days, 15:09:44 since Epoch

'18713 days, 15:09:44.811678'

In [460]:
time.time_ns()       # ns means nanoseconds

1616857882539059100

time.timezone()   # No. info

time.tzname()      # Don't know how to use

In [3]:
time.time()                                                                            # seconds

1616823971.1059928

In [29]:
years*365*24*60*60

1616824394.423895

In [30]:
24*60*60

86400